<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService11901">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService31061" />
                <binding name="BasicHttpBinding_IService31021" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://win-q1ap5cv34av:8082/WCFServices/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="https://win-q1ap5cv34av:8082/WCFServices/Service11901.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11901"
                contract="Wcf11901.IService11901" name="BasicHttpBinding_IService11901" />
            <endpoint address="http://localhost:5294/Service31061.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService31061" contract="Wcf31061.IService31061"
                name="BasicHttpBinding_IService31061" />
            <endpoint address="http://192.168.6.7:8081/Wcf2Client/Service31021.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31021"
                contract="Wcf31021.IService31021" name="BasicHttpBinding_IService31021" />
        </client>
    </system.serviceModel>
</configuration>
