<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="DefaultLanguage" value="2052"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService00000" />
        <binding name="BasicHttpBinding_IService00001" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.4.184:8081/WcfServices/Service00000.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00000"
        contract="WCF_ServerConfig.IService00000" name="BasicHttpBinding_IService00000" />
      <endpoint address="http://192.168.4.184:8081/WcfServices/Service00001.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00001"
        contract="WCF_LanPackOperation.IService00001" name="BasicHttpBinding_IService00001" />
    </client>
  </system.serviceModel>
</configuration>
