<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012" />
                <binding name="BasicHttpBinding_IService21061" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.74:8081/Wcf2Client/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="http://192.168.6.74:8081/Wcf2Client/Service21061.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService21061"
                contract="Wcf21061.IService21061" name="BasicHttpBinding_IService21061" />
        </client>
    </system.serviceModel>
</configuration>