<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IService160011">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://win-gu5g3j3j797:8083/WCF1600/Service16001.svc/Contract"
            binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService160011"
            contract="Service16001.IService16001" name="NetTcpBinding_IService160011" />
      </client>
    </system.serviceModel>
</configuration>