<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11121" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/Service11121.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11121" contract="Wcf11121.IService11121"
                name="BasicHttpBinding_IService11121" />
        </client>
    </system.serviceModel>
</configuration>
