<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://win-gu5g3j3j797:8082/WCFServices/Service16002.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16002"
        contract="Service16002.IService16002" name="BasicHttpBinding_IService16002" />
      <endpoint address="https://win-gu5g3j3j797:8082/WCFServices/Service11012.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
        contract="Service11012.IService11012" name="BasicHttpBinding_IService11012" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService16002">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService11012">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindConfig" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" portSharingEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCF16001.Service16001" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="netTcpBinding" contract="WCF16001.IService16001"/>
        <endpoint address="Contract" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" contract="WCF16001.IService16001"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>