<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService12001" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service12001.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12001"
                contract="Wcf12001.IService12001" name="BasicHttpBinding_IService12001" />
        </client>
    </system.serviceModel>
</configuration>