<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService51011" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18904/Service51011.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService51011" contract="Wcf51011.IService51011"
                name="BasicHttpBinding_IService51011" />
        </client>
    </system.serviceModel>
</configuration>