<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService36021" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.105:8081/Wcf2Client/Service36021.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService36021"
                contract="Wcf36021.IService36021" name="BasicHttpBinding_IService36021" />
        </client>
    </system.serviceModel>
</configuration>