<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService11011" />
                <binding name="BasicHttpBinding_IService11901">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService00000">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService11111">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.4.184:8082/WcfServices/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="https://tn-pf-appserver:8082/WcfServices/Service11901.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11901"
                contract="Wcf11901.IService11901" name="BasicHttpBinding_IService11901" />
            <endpoint address="https://win-q1ap5cv34av:8082/WCFServices/Service00000.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00000"
                contract="WCFService00000.IService00000" name="BasicHttpBinding_IService00000" />
            <endpoint address="https://win-q1ap5cv34av:8082/WCFServices/Service11111.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11111"
                contract="Wcf11111.IService11111" name="BasicHttpBinding_IService11111" />
            <endpoint address="http://localhost:8011/Service11011.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11011" contract="Wcf11011.IService11011"
                name="BasicHttpBinding_IService11011" />
        </client>
    </system.serviceModel>
</configuration>