<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11101">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tn-pf-appserver:8082/WcfServices/Service11101.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11101"
          contract="Wcf11101.IService11101" name="BasicHttpBinding_IService11101" />
    </client>
  </system.serviceModel>
</configuration>