<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService00003" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/Wcf2Client/Service00003.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00003"
                contract="UMPWcfService00003.IService00003" name="BasicHttpBinding_IService00003" />
        </client>
    </system.serviceModel>
</configuration>
