<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService36011" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.6.69:8081/Wcf2Client/Service36011.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService36011"
        contract="Wcf36011.IService36011" name="BasicHttpBinding_IService36011" />
    </client>
  </system.serviceModel>
</configuration>