<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012" />
                <binding name="BasicHttpBinding_IService12001" />
                <binding name="BasicHttpBinding_IService31021" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service12001.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12001"
                contract="Wcf12001.IService12001" name="BasicHttpBinding_IService12001" />
            <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service31021.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31021"
                contract="Wcf31021.IService31021" name="BasicHttpBinding_IService31021" />
        </client>
    </system.serviceModel>
</configuration>