<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService36041" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7376/Service36041.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService36041" contract="Wcf36041.IService36041"
                name="BasicHttpBinding_IService36041" />
        </client>
    </system.serviceModel>
</configuration>