<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService00000" />
                <binding name="BasicHttpBinding_IService00001" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8081/WcfServices/Service00000.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00000"
                contract="WCFService00000.IService00000" name="BasicHttpBinding_IService00000" />
            <endpoint address="http://127.0.0.1:8081/WcfServices/Service00001.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00001"
                contract="WCFService00001.IService00001" name="BasicHttpBinding_IService00001" />
        </client>
    </system.serviceModel>
</configuration>