<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService00000" />
                <binding name="BasicHttpBinding_IService11012" />
                <binding name="BasicHttpBinding_IService11901" />
                <binding name="BasicHttpBinding_IService31041" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.7:8081/Wcf2Client/Service00000.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00000"
                contract="Wcf00000.IService00000" name="BasicHttpBinding_IService00000" />
            <endpoint address="http://192.168.6.7:8081/Wcf2Client/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="http://192.168.6.7:8081/Wcf2Client/Service11901.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11901"
                contract="Wcf11901.IService11901" name="BasicHttpBinding_IService11901" />
            <endpoint address="http://localhost:4423/Service31041.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService31041" contract="Wcf31041.IService31041"
                name="BasicHttpBinding_IService31041" />
        </client>
    </system.serviceModel>
</configuration>