<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService31081" />
                <binding name="BasicHttpBinding_IService11012">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/WcfServices/Service31081.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31081"
                contract="Wcf31081.IService31081" name="BasicHttpBinding_IService31081" />
            <endpoint address="https://192.168.6.7:8082/WCFServices/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
        </client>
    </system.serviceModel>
</configuration>