<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="Apps/UMPS1202/UMPS1202.exe" moduleType="UMPS1202.S1202App, UMPS1202" moduleName="S1202App" startupLoaded="false" />
    <module assemblyFile="Apps/UMPS1203/UMPS1203.exe" moduleType="UMPS1203.S1203App, UMPS1203" moduleName="S1203App" startupLoaded="false" />
    <module assemblyFile="Apps/UMPS1204/UMPS1204.exe" moduleType="UMPS1204.S1204App, UMPS1204" moduleName="S1204App" startupLoaded="false" />
  </modules>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11012" />
        <binding name="BasicHttpBinding_IService12001" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service11012.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
          contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
      <endpoint address="http://192.168.6.63:8081/Wcf2Client/Service12001.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12001"
          contract="Wcf12001.IService12001" name="BasicHttpBinding_IService12001" />
    </client>
  </system.serviceModel>
</configuration>