<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService36031" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.105:8081/Wcf2Client/Service36031.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService36031"
                contract="Wcf36031.IService36031" name="BasicHttpBinding_IService36031" />
        </client>
    </system.serviceModel>
</configuration>