<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService31051" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.75:8081/WcfServices/Service31051.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31051"
                contract="Wcf31051.IService31051" name="BasicHttpBinding_IService31051" />
        </client>
    </system.serviceModel>
</configuration>