<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService11901">
                    <security mode="Transport" />
                </binding>
                <binding name="Service11021" closeTimeout="00:00:15" openTimeout="00:00:15"
                          receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="65536000" maxReceivedMessageSize="6553600"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.4.184:8082/WcfServices/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="https://192.168.4.184:8082/WcfServices/Service11901.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11901"
                contract="Wcf11901.IService11901" name="BasicHttpBinding_IService11901" />
            <endpoint address="http://localhost:8080/WCF11021/Service11021.svc"
                binding="basicHttpBinding" bindingConfiguration="Service11021" 
                contract="Wcf11021.IService11021" name="Service11021" />
        </client>
    </system.serviceModel>
</configuration>
