<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService000A1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.7:8081/Wcf2Client/Service000A1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService000A1"
                contract="Wcf000A1.IService000A1" name="BasicHttpBinding_IService000A1" />
        </client>
    </system.serviceModel>
</configuration>