<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11011" />
                <binding name="BasicHttpBinding_IService11012" />
                <binding name="BasicHttpBinding_IService110111">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService31011">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService31021" />
                <binding name="BasicHttpBinding_IService11901">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService110121" />
                <binding name="BasicHttpBinding_IService310111" />
                <binding name="BasicHttpBinding_IService31031" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.5.23:8001/WcfServices/Service11011.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11011"
                contract="Wcf11011.IService11011" name="BasicHttpBinding_IService11011" />
            <endpoint address="http://192.168.5.23:8001/WcfServices/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11012"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService11012" />
            <endpoint address="https://tn-pf-appserver:8082/WcfServices/Service11011.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService110111"
                contract="Wcf11011.IService11011" name="BasicHttpBinding_IService110111" />
            <endpoint address="https://tn-pf-appserver:8082/WcfServices/Service31011.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31011"
                contract="Wcf31011.IService31011" name="BasicHttpBinding_IService31011" />
            <endpoint address="http://192.168.4.184:8081/Wcf2Client/Service31021.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31021"
                contract="Wcf31021.IService31021" name="BasicHttpBinding_IService31021" />
            <endpoint address="https://192.168.4.184:8082/WcfServices/Service11901.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11901"
                contract="Wcf11901.IService11901" name="BasicHttpBinding_IService11901" />
            <endpoint address="http://192.168.5.23:8003/Wcf2Client/Service31011.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService310111"
                contract="Wcf31011.IService31011" name="BasicHttpBinding_IService310111" />
            <endpoint address="http://192.168.6.27:8081/Wcf2Client/Service11012.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService110121"
                contract="Wcf11012.IService11012" name="BasicHttpBinding_IService110121" />
            <endpoint address="http://localhost/Wcf31031/Service31031.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService31031"
                contract="Wcf31031.IService31031" name="BasicHttpBinding_IService31031" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
