<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService00000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.4.186:8081/WcfServices/Service00000.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService00000"
                contract="WCFService00000.IService00000" name="BasicHttpBinding_IService00000" />
        </client>
    </system.serviceModel>
</configuration>
