<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService11012" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9295/Service11012.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11012" contract="Wcf1102.IService11012"
                name="BasicHttpBinding_IService11012" />
        </client>
    </system.serviceModel>
</configuration>